:root {
	--PIAPE_COLOR_PRIMARY_STRONG:        #3A5EA8;
	--PIAPE_COLOR_PRIMARY:               #3A5EA8;
	--PIAPE_COLOR_AUX_STRONG:            #3A5EA8;
    --PIAPE_COLOR_AUX:                   #3A5EA8;
    --PIAPE_FONT_COLOR:                  #676767;
    
    
	--PIAPE_COLOR_MODULE_ONE_STRONG:     	#3A5EA8;
	--PIAPE_COLOR_MODULE_ONE_LIGHT:    		#26A7DF;
	--PIAPE_COLOR_MODULE_ONE_SUPER_LIGHT:  	#26A7DF;
	--PIAPE_COLOR_MODULE_ONE:            	#3A5EA8;
	
	--PIAPE_COLOR_MODULE_TWO_STRONG:     	#79952a;
	--PIAPE_COLOR_MODULE_TWO_LIGHT:    		#d6e7b1;
	--PIAPE_COLOR_MODULE_TWO_SUPER_LIGHT:  	#eaf3d8;
	--PIAPE_COLOR_MODULE_TWO:            	#93c020;

	--PIAPE_COLOR_MODULE_THREE_STRONG:   	#b81615;
	--PIAPE_COLOR_MODULE_THREE_LIGHT:    	#f0a1aa;
	--PIAPE_COLOR_MODULE_THREE_SUPER_LIGHT: #f7d0d5;
	--PIAPE_COLOR_MODULE_THREE:         	#e30613;
}
