:root{
    --THEME_COLOR_PRIMARY:    #3A5EA8;
    --THEME_COLOR_SECONDARY:  #F07727;
    --THEME_COLOR_TERTIARY:   #ffc10799;
    --THEME_COLOR_QUARTIARY:  #0A7B62;
    --THEME_COLOR_QUINTIARY:  #CDEAE4;
    --THEME_COLOR_AUX_STRONG: #3c3c3b;
    --THEME_COLOR_AUX:        #e3e3e3;
    --THEME_COLOR_TITLE:      #3A5EA8;
    --THEME_COLOR_LINK:       #0782AE;
    --THEME_FONT_COLOR:       #676767;
    --INVISIBLE:              #00000000;
  }