body {
    margin-top: 0!important;
}

#section .banner-top{
    min-height: 550px;
}

@media only screen and (min-width: 560px) { 
    
#logobottom { 
        margin: -130px 0 40px 0;
    }

#section .banner-top{
    min-height: 550px;
    }
    

 }

 @media only screen and (max-width: 560px) { 
    
    #logobottom { 
            margin: -100px 0 40px 0;
            width: 80%;height: 80%;
        }
    
    #section .banner-top{
        min-height: 350px;
        }
            

}

h1.titulo-int {
	text-transform: uppercase;
}