body{

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: justify;
    width: 1000px;
	margin-left: 400px;
	margin-top: 50px;
}

p{
	font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 2em;
}
