body{

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
/*	margin-left: 200px; 
    margin-right: 200px; */
}

#logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}



#faixaAzul{
	background-color: #26A7DF;
	padding: 15px;	
}

h1.text-1{
	color: white;
	font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
	font-size: 26px;
	margin: auto 0;
}

h1.text-2{
	font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
	font-size: 26px;
	color: #395DA9
}

h1.text-3{
	font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    text-transform: uppercase;
	font-size: 26px;
	color: #395DA9;
	margin: auto 0;
}	

#seta{
	margin-left: -541px;
}


#faixaAmarela{
	background-color: #FCD10E;
	padding: 15px;
	background-image: url("../../assets/images/identity/resources/seta_titulo.svg");
	background-repeat: no-repeat;
	background-position-x: left;
	background-size: auto;



}

#paragrafo{
	font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    color: #676767;
    
}

#icones1{
	margin-left: 100px;
}

#conheca{
	margin-left: -80px;
}


.pointer { cursor: pointer; }

#icones1 img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#icones2{
	margin-left: 100px;
}
#icone-atividade{
	margin-left: -80px;
}

#icones2 img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}