
/* por SALÉSIO: */
/* não entendi o efeito prático deste CSS então resolvi comentá-lo pois ele tem uma limitação de largura que não é necessária*/
/* body{

	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: justify;
    width: 1000px;
	margin-left: 400px;
	margin-top: 50px;
} */
.extra{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 23px;
    color: #3A5EA8;
}

/*.btn-botton{
    padding: 0px 201px 0px 170px;
}
*/
h2{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 23px;
    color: #26A7DF
}

h3{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 23px;
    color: #3A5EA8;
}

p{
	font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    line-height: 2em;
}


/* por SALÉSIO: */
/* este elemento do código abaixo não é mais necessário */
/* #corpo{
    margin-left: -245px;
    margin-right: 225px;
} */